[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 41070345
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "node index.js"]
build = ["sh", "-c", "npm install && npm run build"]
